*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #000000;
}
body{
    
    font-family: 'Inter';
}

.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-left: 66px;
    margin-right: 66px;
    place-items: center;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.background__logo {
    position: absolute;
    width: 30vw;
    height: 100%;
    margin-left: 0;
    top: 0;
    background-color: black;
    z-index: -1;
}
.logo {
    grid-column: 1;
}
.options{
    grid-column: 2/12;
    display: flex;
    gap: 75px;
    font-size: 24px;
    list-style: none;
    align-items: center;
    color: var(--primary-color);
    font-weight: 500;
}
.user {
    grid-column: 12;
    background-color: var(--primary-color);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    font-family: 'Inter';

}
.grid__main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.tenis {
    width: 600px;
    height: 600px;
    background-color: #9C0610;
    border-radius: 50%;
    grid-column: 1/6;
    place-self: center end;
}
.marca{
    grid-column: 6/-1;
    grid-row: 1;
    place-self: start center;
    width: 672px;
    font-weight: 400;
    font-size: 1.5rem;   
}
.description{
    grid-column: 6/-1;
    grid-row: 1;
    place-self: center;
    width: 672px;
}
.description__title {
    font-size: 96px;
    font-weight: 700;
}
.description__text {
    font-size: 24px;
    font-weight: 400;
    color:  #585858;
}
.background__shop {
    width: 382px;
    height: 101px;
    background-color: red;
    border-radius: 50px;
    grid-column: 7/-1;
}
